/*
  Type
*/
body
  font-weight 500

.list-view>ul>li>a, .list-view>nav>ul>li>a
  font-weight 500

.btn, .Button, .ui-button
  font-weight 400

/*
  Navigation bar
*/
.ic-app-header__logomark
  width 80%
  margin 5px auto

.ic-icon-svg--learning-resources
  width 26px
  height 26px

/*
  Dashboard
*/
.ic-DashboardCard__header-subtitle
  display none

.rosebank-calendar
  padding 15px 0 3px 0
  font-weight bold

#right-side a[href="/grades"]
  display none

/*
  Login Component
*/
.ic-Login__header .ic-Login__header__logo
  text-align center

.ic-Login__header .ic-Login__header__logo img
  max-width 280px

.ic-Login__actions button.Button--login
  border 1px solid #042244
