/*
  Variables
*/

// Palette
navy = #003168
gold = #b4975a
white = #ffffff
grey = #555555

goldlinks = #9B7C3C
goldlinksHover = lighten(goldlinks, 30%)
navylinks = #2B75C7
navylinksHover = lighten(navylinks, 30%)

/*
  Global elements
*/

a
  color goldlinks
  &:hover
    color goldlinksHover

.btn-primary
  border-color shade(navy, 20%)
  background-color tint(navy, 20%)
  &:hover
    background-color lighten(navy, 10%)
/*
  Header
*/

#header
  background navy
  border-bottom 10px solid gold

/*
  Logo
*/

#header-logo, #header.no-user #header-logo
  background navy url("https://s3-ap-southeast-2.amazonaws.com/rosebank-canvas/svg/crest.svg") no-repeat top left
  background-size cover
  width 50px
  height 60px
  top 5px
  bottom 0

/*
  Menu
*/

#menu
  margin-left 85px

// 1 pixel offset course menu dropdown fix
.menu-item-drop
  margin-left 1px

#menu_enrollments .customListOpen
  color goldlinks

.menu-item .menu-item-drop li:hover
  background-color lighten(gold, 80%)

.menu-item-drop-column-list li:hover .name
  color shade(goldlinks, 10%)

/*
  Help Corner Navigation
*/

#identity
  background-color gold

#identity a
  color white

/*
  Side bar (left)
*/

.list-view #section-tabs-header
  color navy

.list-view #section-tabs-header-subtitle
  display none

.list-view a.active
  color navylinks
  font-weight bold
  &:hover
    color navylinksHover

.list-view>ul>li>a:hover, .list-view>nav>ul>li>a:hover
  color shade(grey, 50%)

/*
  Breadcrumb Trail
*/

#breadcrumbs
  padding-top 3px

/*
  UI
*/

.ui-tabs .ui-tabs-nav li a
  color navylinks

.ui-tabs .ui-tabs-nav li.ui-tabs-active a
  color navy

/* 
/// 
///// Login Box
/////////////////////////
/// These style let you tweak the login box shown when logging into Canvas
*/

/* 
///// This changes the background color
*/


/*#modal-box.login-box { 
  background: #e6e6e6 !important ;
}*/


/* 
///// This will remove the extra Canvas logo 
*/


/*body.modal #modal-box.login-box h1 { 
  background: none;
  height: 235px;
}*/


/* 
///// Resize the login box to fit my image and change the color of 'stay signed in'
*/


/*body.modal #modal-box.login-box { 
  height: 435px;
  width: 610px;
  color: #5b6c79;
}*/

/*#modal-box-inner {
  background: url(https://s3.amazonaws.com/account/myimage.png?v1) no-repeat;
  height: 400px;
  width: 680px;  
  margin-left: -15px;
  margin-top: -15px;  
  color: #000066 !important; 
}*/


/* 
///// Change the color of 'don't know your password' 
*/


/*body.modal #modal-box.login-box a { 
  color: #5b6c79 !important; 
}*/
 

/* 
///// Change the color of the login buttons 
*/


/*body.modal #modal-box .button, body.modal #login-box .button {
  background-color: #0099e0 !important;
  border-color: #0076ad !important;
}*/

  

/*#login_form .btn-primary, #login_form .btn-primary:hover {
  background-color: #0099e0;
  border-color: #0076ad;
}*/
